@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;800&display=swap');


:root {
    --brown1: #453528;
    --brown2: #372A21;
    --green: #898B06;
    --red: #D63A25;
    --yellow: #DC8409;
    --white: #fff;
    --fonte1: font-family: 'Roboto Slab', serif;
  }

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
a {
    color: #fff;
}

body{
    background-color: var(--brown1);
}
/* MENU */



.content {
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--brown1);
    padding-left: 10rem;
}

.logo {
    width: 110px;
    height: auto;
    cursor: pointer;
    display: flex;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    display: flex;
    font-family: var(--fonte1);
    
}

.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-image: linear-gradient(0deg, var(--green), var(--brown1));
    color: var(--brown2);
    transition: 0.4s;
}

hr {
    border: 1px solid #DC8409;
    border-width: 2px;
  }


@media (max-width: 870px) {
    .content {
        justify-content: space-between;
        padding: 0px 5px;
    }

    .content .list-menu{
        display: none;
    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 6px auto;

        transition-duration: 0.5s ;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        

    }

    .content.on {
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--brown1);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu {
        display: block;
        
    }

    .content.on .list-menu li {
        text-align: center;
        display: flex;
        justify-content: center;
        
    }

    .content.on .list-menu li a {
        font-size: 1rem;
        display: block;
    }


    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(8px, -7px);
    }
    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -6px);
    }

    .contatos-secao {
        display: block;
        text-align: center;
        font-size: 1rem;
        
    }

    .contatos-secao div {
        margin: 1rem;
        
    }

}


/* Banner - pagina principal */

#banner{
    background-image: url('./Imagens/Banner.png');
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    height: 700px;
}


.actor-cards-container{
    align-items: center;
    margin-top: -100px;    
}

.cards-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    height: 200px;
}

.card{
    width: 215px;
    height: 189px;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
}

.banner-1 {
    background-image: url('./Imagens/card1.png');
}

.banner-1:hover{
    background-image: url('./Imagens/card11.png');
}
.banner-2{
    background-image: url('./Imagens/card2.png');
}
.banner-2:hover{
    background-image: url('./Imagens/card22.png');
}
.banner-3{
    background-image: url('./Imagens/card3.png');
}
.banner-3:hover{
    background-image: url('./Imagens/card33.png');
}

.card:hover{
    width: 280px;
    height: 240px;
    transition: all 0.2s;
}


.rodape-container{
    display: flex;
    bottom: 0;
    align-items: center;
    background-color: var(--brown2);
    flex-direction: column;
    align-items: center;
}

#logo-footer{
    width: 150px;
    height: auto;
    margin-top: 15px;
}

.footer-descricao {
    height: 50px;
}

#link-instagram {
    color: black;
}

.footer-list-container {
    display: flex;
    margin-top: 20px;
    gap: 2rem;
    color: #fff;
    
}


.h1-cardapio {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.h1-cardapio h1 {
    color: #e8e7e6;
    font-weight: bold;
    font-family: var(--fonte1);

}


/* Pagina cardapio */
.card-cardapio {
    background-color: rgba(0, 0, 0, 0.645);
    border: 5px solid #DC8409;
    border-radius: 10px;
    width: auto;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  
  
  /* Estilos da imagem */
  .card-cardapio img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    
  }
  
  /* Estilos do nome */
  .card-cardapio h2 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color: gold;
  }

  .descricao-prato {
    color: #DC8409;
    padding: 5px;
  }

  
.button-carrinho {
    padding: 10px 20px;
    border: none;
    background-color: #b6b923;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .button-carrinho:hover {
    background-color: #d0d60f;
  }
  
    
  
  /* Estilos para tela menor que 500px */
  @media screen and (max-width: 500px) {
    .card {
      max-width: 100%;
    }
  }

 

  .cardapio-main {
    display: flex;
    margin: auto;
    padding: 30px;
    max-width: 1500px;
    flex-wrap: wrap;
  }

  .h1-cardapio {
    color: #fff;
  }

 
  